@import '../../variables.scss';

.hero {
  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 200px 0;

    @media (max-width: 1200px) {
      padding: 200px 20px;
    }

    @media (max-width: 600px) {
      padding: 150px 20px 0;
    }
  }

  &__headline {
    font-size: 42px;
    max-width: 650px;
    font-weight: 500;

    &--emphasis {
      color: $primary-color;
    }
  }

  &__description {
    margin: 40px 0;
    max-width: 500px;
    color: $secondary-text-color;
    line-height: 1.6;
  }

  &__cta {
    padding: 20px 30px;
    display: block;
    text-align: center;
    font-size: 18px;
    background: $primary-color;
    color: $text-color;
    border: none;
    border-radius: 4px;
    width: 300px;
    text-decoration: none;

    &:hover {
      background-color: $primary-color-dark;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}