$text-color: #fff;
$secondary-text-color: #9ca3af;

$primary-color: #E55381;
$primary-color-dark: #bb4469;

$background-color: #111;
$card-background: #303030;
$background-color-secondary: #151515;
$ui-helper-color: #fff;
