@import '../../variables.scss';

.nav {
  background-color: $background-color;
  height: 100px;
  width: 100vw;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  position: fixed;

  @media (max-width: 600px) {
    height: 65px;
  }

  &__logo {
    cursor: pointer;

    &--mobile {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 8px;

      @media (min-width: 601px) {
        display: none;
      }
    }
  }

  &__wrapper {
    // border-bottom: 1px solid $ui-helper-color;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: none;

    @media (max-width: 1200px) {
      margin: 0 20px 0;
    }
    
    @media (min-width: 601px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__hamburguer {
    display: inline-block;
    margin: 5px 0 0 5px;
    cursor: pointer;

    @media (min-width: 601px) {
      display: none;
    }

    svg path {
      fill: $primary-color;
    }
  }

  &__mobile {
    display: none;

    &--opened {
      display: block;
    }
  }

  &__links {
    display: flex;

    &--mobile {
      align-items: flex-start;
      flex-direction: column;
      background-color: $background-color-secondary;
    }

    &--desktop {
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      gap: 40px;
    }
  }

  &__item {
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1.5px;
    
    &--desktop {
      color: $secondary-text-color;
      font-size: 14px;
    }
    
    &--mobile {
      color: $primary-color;
      padding: 30px 20px;
      font-size: 18px;
    }

    &:hover {
      color: $text-color;
    }
  }
}